{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "page": true,
    "browser": true,
    "context": true,
    "document": true
  },
  "rules": {
    "no-unused-vars": 1,
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/explicit-function-return-type": 0
  },
  "ignorePatterns": ["node_modules/*", "dist/*"]
}
